.alert-bar {
    background-color: #0099ffa5;
    color: white;
    padding: 16px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 99;
  }
  
  .close-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  